[alias]
    br = "branch"
    can = "commit --amend --no-edit"
    cmp = "!git checkout main && git pull --rebase"
    lo = "log --oneline --decorate"
    nb = "!git fetch origin && git checkout -b $1 origin/main #"
    po = "push origin HEAD"
    pof = "push origin HEAD --force-with-lease"
    pr = "pull --rebase"
    pri = "pull --rebase=interactive"
    rh = "reset --hard"
    st = "show HEAD --stat --format=''"
    stu = "diff HEAD --stat"
    up = "branch --set-upstream-to=origin/main"

[core]
    excludesFile = ~/.my.gitignore

[rebase]
    autoStash = true
